In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.521864  0.744600
1  bar    one -0.361382 -0.366841
2  foo    two  0.100056  1.334094
3  bar  three -0.638628  1.049169
4  foo    two -0.351503 -0.270095
5  bar    two  1.968224 -1.178932
6  foo    one  0.124612  0.238699
7  foo  three  0.275952  0.744062

In [4]:
df.groupby('A').sum()

            C         D
A
bar  0.968215 -0.496604
foo -0.372748  2.791359

In [11]:
df.groupby(['A','B']).agg([np.sum,np.mean])

                  C                   D
                sum      mean       sum      mean
A   B
bar one   -0.361382 -0.361382 -0.366841 -0.366841
    three -0.638628 -0.638628  1.049169  1.049169
    two    1.968224  1.968224 -1.178932 -1.178932
foo one   -0.397252 -0.198626  0.983299  0.491649
    three  0.275952  0.275952  0.744062  0.744062
    two   -0.251447 -0.125724  1.063999  0.531999

In [20]:
df.groupby(['A','B'])['C'].agg(np.sum)

A    B
bar  one     -0.361382
     three   -0.638628
     two      1.968224
foo  one     -0.397252
     three    0.275952
     two     -0.251447
Name: C, dtype: float64

In [17]:
df_sum=df.groupby('A').agg({'A':'count'})
df_index=df_sum.index
df_index

Index(['bar', 'foo'], dtype='object', name='A')

In [29]:
t1=df.groupby(['A','B']).sum()
t1.loc['bar','C']

B
one     -0.361382
three   -0.638628
two      1.968224
Name: C, dtype: float64

In [30]:
t1.loc[[('bar','one'),:]

C   -0.361382
D   -0.366841
Name: (bar, one), dtype: float64

In [31]:
t1.loc[(['bar','foo'],'one'),:]

                C         D
A   B
bar one -0.361382 -0.366841
foo one -0.397252  0.983299